**/.env
client/dist/**/*
client/dist
client/node_modules/**/*
client/node_modules
server/node_modules/**/*
server/node_modules
node_modules/**/*
node_modules
volumes/**/*
volumes
.aider.tags.cache.v3/**/*
.aider.tags.cache.v3
